/* Write your CSS code here */
.content-header-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 30px;
  padding-right: 30px;
}
.header-price {
  display: flex;
}
.currency {
  text-align: right;
  margin-right: 100px;
}
.euro-currency {
  width: 50px;
}
.logo-container {
  display: flex;
  align-items: center;
}
.currency-logo {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
